#price{
  color:red;
}

h4{

  color:red;

}

#stack{
  color:red;
}
#message{
  color:blue;
}



h3{

  color:cornflowerblue;

}

img{
  max-width: 100%;
  height: auto;
}

.itemSlide{

 height: 550px;

}
